@font-face {
  font-family: Pacifico;
  src: url(./resources/Fonts/Pacifico/Pacifico-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  display: fl;
  background-color: red;
  color: aliceblue;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  height: 3rem;
  width: 100%;
}

nav {
  font-family: Pacifico;
  font-size: 2rem;
  color: aliceblue;
}

body {
    background-color: grey;
}

section {
    min-width: 620px;
    max-width: 620px;
}




