.navbar {
  width: 100%;
  height: 7rem;
  padding: 2rem;
  margin: 0%;
  font-family: Roboto-light;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
  display: flex;
  align-items: center;
}

.navbar-logo a {
  font-family: Pacifico;
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: 0.2rem;
}